<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
  <div>
    <h1>¿Qué Ofrecemos?</h1>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <img src="/assets/img/instalacionsistemaoperativo.jpg" class="img-fluid" alt="">
          <p>Instalación de Sistemas Operativos</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/images.jpg" class="img-fluid" alt="">
          <p>Instalación de Software de Oficina</p>
        </div>
        <div class="col-4">
          <img src="/assets/img/reparacion computadores.jpg" class="img-fluid" alt="">
          <p>Reparación de Computadoras</p>
        </div>
      </div>
    </div>
    <app-formulario></app-formulario>
  </div>
<footer class="footer">
    <img src="/assets/img/logotipo.png" alt="Logotipo" class="logo">
    <h2>Mercy Developer</h2>
    <p>Contacto: +56 1234 5678</p>
  </footer>
</body>
</html>
